body
  background-color: $background-color-gray
.header-bg
  +stretch (0px, 0px, 0px, 0px)
  height: 110px
  background-color: $background-color-gray-light
  border-bottom: 3px solid $color-blue-pts
  z-index: -1