body
  background-color: $background-color-gray
body:after
  content: ''
  +stretch (0px, 0px, 0px, 0px)
  display: inline-block
  width: 100%
  height: 110px
  background-color: $background-color-gray-light
  border-bottom: 3px solid $color-blue-pts
  z-index: -1