.header-news
  position: relative
  height: 49px
  padding: 24px 36px

  .news-logo
    float: left
    margin-right: 36px

  ul
    float: left
    +horizontal-list
    +no-bullets

    li
      position : relative
      height: 40px
      padding: 0px

      & + li
        margin-left: 8px

      &.is-active:after
        content: ''
        position: absolute
        bottom: 0px
        right: 18%
        height: 3px
        width: 82%
        background-color: $color-yellow-pts

      a
        display: inline-block
        padding: 8px 12px 0px 0px
        cursor: pointer
        text-decoration: none
        +link-colors($text-black, $text-gray)

  .search-news
    position: absolute
    right: rhythm(1)
    margin-top: 1px
    white-space: nowrap
    transform: translate(0,0)

    input#search-news
      float: left
      appearance: none
      width: 140px
      height: 34px
      padding-left: 20px
      border: 1px solid #fff
      +border-radius(2px)
      transition: width .55s ease

      &:hover, &:focus, &:active
        width: 350px
        outline: none
        border: 1px solid $line-color-gray-light

    .ic-search-news
      position: absolute
      right: 0px
      margin: 7px 12px 0px 0px

      img
        margin: 0px