.header-family
  .pts-logo
    float: left
    display: none

    a
      display: inline-block
      text-indent: -1999999px
      overflow: hidden
      +replace-text-with-svg("logo-pts")

  .tv-program
    position: relative
    float: left
    margin-left: rhythm(1)
    padding: 0 10px 0 36px
    +border-radius(2px)
    cursor: pointer
    font-size: $base-font-size - 2
    font-weight: bold
    color: #fff
    background-color: $color-blue-pts
    display: none

    &:hover
      background-color: darken($color-blue-pts, 10%)

    &:before
      content: ''
      display: inline-block
      position: absolute
      top: 3px
      left: 10px
      +replace-text-with-svg("ic-tv")

  ul
    left: 0px
    width: 260px
    margin: 0px
    list-style-type: none

  .channel-list
    position: absolute
    top: 60px
    padding: 0px
    background-color: $color-blue-pts

  .channel-item
    float: left
    margin: 0px
    padding: 0 18px
    width: auto
    height: 60px
    line-height: 60px

    &:nth-child(2)
      border-left: #fff 1px solid
      border-right: #fff 1px solid

    &:last-child
      padding: 0 20px

    &:hover
      background-color: darken($color-blue-pts, 10%)

    &.is-active
      background-color: $color-blue-pts-light

    a
      +link-colors(#fff)
      text-decoration: none

  .navigation-list
    position: absolute
    top: 144px
    margin: 0px
    padding: 0px

  .nav-item
    width: 260px
    border-bottom: 1px #fff solid

    a
      display: inline-block
      padding: 0 120px 0 15px
      line-height: 60px
      +link-colors($text-black, $text-gray)
      cursor: pointer
      text-decoration: none

    &.is-active
      background-color: $color-blue-pts
      color: #fff

      a
        color: #fff

  .search-pts
    position: absolute
    top: 0px

    input:focus
      outline: none

    input[type=search]
      float: left
      width: 184px
      height: 60px
      padding: 0px 0px 0px rhythm(1)
      border: none
      -webkit-appearance: none
      font-size: $base-font-size
      background: transparent
      +input-placeholder-color($text-black)

    input[type=button]
      position: absolute
      top: 18px
      right: -40px
      border: none
      background: transparent
      +replace-text-with-svg("ic-search-blue-large")

  +at-breakpoint($desktop)
    position: static
    width: auto
    height: 86px
    padding: rhythm(1) rhythm(1) 0px rhythm(1)
    background-color: transparent
    +translateX(0%)

    .pts-logo, .tv-program
      display: block

    ul
      width: auto

    .channel-list
      position: relative
      top: 0px
      float: left
      margin: 0px rhythm(1)
      +border-radius(2px)
      cursor: pointer
      font-size: $base-font-size - 2
      font-weight: bold
      color: #fff
      background-color: $color-blue-pts

    .channel-item
      +border-radius(2px)
      height: auto
      padding: 0 10px
      line-height: 24px

      &:nth-child(2)
        +border-radius(0px)

    .navigation-list
      position: relative
      float: left
      top: 0px
      width: auto
      margin: 16px 0px 0px 13px

    .nav-item
      display: inline-block
      padding: 0px
      width: auto
      border-bottom: none

      a
        height: 46px
        padding: 0 8px 0 8px
        line-height: 24px

      &.is-active
        position: relative
        background-color: transparent
        color: $text-black

        a
          color: $text-black

          &:after
            content: ''
            position: absolute
            bottom: 0px
            left: 50%
            margin-left: -10px
            width: 0px
            height: 0px
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-bottom: 10px solid $color-blue-pts

    .search-pts
      position: relative
      margin-top: 0px

      input[type=search]
        float: left
        width: 345px
        height: 16px
        padding: 3px 0px 3px 10px
        border: $line-color-gray-light 1px solid
        +border-radius(2px 0 0 2px)
        font-size: $base-font-size - 2
        +input-placeholder-color($text-gray)

      input[type=button]
        position: relative
        top: 0px
        right: 0px
        float: left
        padding: 12px 0px
        +border-radius(0 2px 2px 0)
        background-color: $color-blue-pts
        +replace-text-with-svg("ic-search-white-small")
        width: 76px

  +at-breakpoint($wide-desktop)
    .navigation-list
      margin: 16px 0px 0px 10px

      a
        padding: 0 13px 0 13px

    .search-pts

      input[type=search]
        width: 424px