.header-family

  .pts-logo
    float: left
    display: none

    img
      margin-bottom: 0px

  .tv-program
    display: none
    float: left
    margin-left: rhythm(1)
    padding: 0 10px 0 10px
    +border-radius(2px)
    cursor: pointer
    font-size: $base-font-size - 2
    font-weight: bold
    color: #fff
    background-color: $color-blue-pts

    &:hover
      background-color: darken($color-blue-pts, 10%)

    img
      margin: 0px 8px -3px 0

  ul
    left: 0px
    width: 260px
    +horizontal-list
    +no-bullets

    &.channel-list
      position: absolute
      top: 60px
      background-color: $color-blue-pts

      li
        +horizontal-list-item(18px, 18px)
        height: 60px

        a
          +link-colors(#fff)
          line-height: 60px

          &:hover
            cursor: pointer
            text-decoration: none

        &:nth-child(2)
          border-left: #fff 1px solid
          border-right: #fff 1px solid

        &:hover
          background-color: darken($color-blue-pts, 10%)

        &.is-active
          background-color: $color-blue-pts-light

    &.navigation-list
      position: absolute
      top: 144px
      margin: 0px

      li
        padding: 0px
        width: 260px
        border-bottom: 1px #fff solid

        &.is-active
          background-color: $color-blue-pts

          a
            color: #fff

      a
        display: inline-block
        padding: 0 150px 0 15px
        line-height: 60px
        +link-colors($text-black, $text-gray)

        &:hover
          cursor: pointer
          text-decoration: none

  .search-pts
    position: absolute
    top: 0px

    input:focus
      outline: none

    input[type=search]
      width: 184px
      height: 60px
      padding-left: rhythm(1)
      border: none
      -webkit-appearance: none
      font-size: $base-font-size
      background: transparent
      +input-placeholder-color($text-black)

    input[type=button]
      float: right
      width: 50px
      height: 60px
      border: none
      background: url(/img/ic-search-blue-large.svg) no-repeat center

  +at-breakpoint($phone)

  +at-breakpoint($pad)

  +at-breakpoint($desktop)
    .pts-logo, .tv-program
      display: block

    ul
      width: auto

      &.channel-list
        position: relative
        top: 0px
        float: left
        margin: 0px rhythm(1)
        +border-radius(2px)
        cursor: pointer
        font-size: $base-font-size - 2
        font-weight: bold
        color: #fff
        background-color: $color-blue-pts

        li
          height: auto
          +horizontal-list-item(10px, 10px)

          a
            line-height: 24px

      &.navigation-list
        position: relative
        float: left
        top: 0px
        margin: 16px 0px 0px 13px

        li
          padding: 0px
          width: auto
          border-bottom: none

          &.is-active
            position: relative
            background-color: transparent

            a
              color: $text-black

              &:after
                content: ''
                position: absolute
                bottom: 0px
                left: 50%
                margin-left: -10px
                width: 0px
                height: 0px
                border-left: 10px solid transparent
                border-right: 10px solid transparent
                border-bottom: 10px solid $color-blue-pts

        a
          height: 46px
          padding: 0 8px 0 8px
          line-height: 24px

    .search-pts
      position: relative
      margin-top: 0px

      input[type=search]
        float: left
        width: 315px
        height: 16px
        padding: 3px 0px 3px 10px
        border: $line-color-gray-light 1px solid
        +border-radius(2px 0 0 2px)
        font-size: $base-font-size - 2
        +input-placeholder-color($text-gray)

      input[type=button]
        float: left
        width: 76px
        height: rhythm(1)
        margin-bottom: -3px
        +border-radius(0 2px 2px 0)
        background: $color-blue-pts url(/img/ic-search-white-small.svg) no-repeat center

  +at-breakpoint($wide-desktop)

    ul.navigation-list
      margin: 16px 24px 0px 8px

      a
        padding: 0 15px 0 15px

    .search-pts

      input[type=search]
        width: 424px

      input[type=button]
        width: 76px
