.hero
  float: left
  +padding-leader(4)
  width: 100vw

  video
    max-width: 100%
    height: auto

  iframe,embed,object
    max-width: 100%

  .frame
    float: left
    width: 100vw
    height: 45px
    padding: 0px
    border-bottom: 3px solid $color-blue-pts
    background: $background-color-gray-dark

    ul.slidee
      margin: 0px
      padding: 0px
      height: 100%
      list-style: none
      background: $background-color-gray-dark

      li
        float: left
        margin: 0px 5px 0px 0px
        padding: 0px
        width: auto
        cursor: pointer

        &:hover
          background: lighten($background-color-gray-dark, 10%)

        a
          height: 45px
          padding: 0px 24px
          color: #fff
          +adjust-font-size-to(18px)
          font-weight: bold
          line-height: 45px
          text-decoration: none

        &.is-active
          background-color: $color-blue-pts

  .select
    float: left
    position: relative
    height: 48px
    cursor: pointer
    background: $background-color-gray-dark
    z-index: 200

    .ic-drop-down
      position: absolute
      top: 14px
      right: 48px
      width: 16px
      height: 16px
      background: url(/img/ic_drop_down.svg) no-repeat center

    ul
      height: 48px
      margin: 0px
      width: 100vw
      list-style: none

      li
        +box-sizing(border-box)
        color: #fff
        +adjust-font-size-to(18px)
        font-weight: bold
        line-height: 44px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        z-index: 2

        &:not(.init)
          float: left
          width: 100vw
          height: 48px
          margin-left: -24px
          padding-left: 24px
          border-bottom: 1px #fff solid
          background: $color-blue-pts
          display: none

          &:hover, &.selected:not(.init)
            background: lighten($color-blue-pts, 10%)

        span

          &.screen-shot
            display: none
  .video
    margin-top: 96px

  +at-breakpoint($desktop)
    position: relative
    width: 100%
    margin-left: -32px
    padding-right: 64px
    +padding-leader(0)
    background: #000

    .frame
      position: relative
      width: 100%
      padding-right: 64px

      &:after
        content: ''
        display: inline-block
        position: absolute
        top: 0px
        right: 0px
        width: 64px
        height: 45px
        background: $background-color-gray-dark

    .select
      float: left
      width: 335px
      height: 475px
      overflow-x: hidden
      overflow-y: auto
      background: $background-color-gray-dark

      .ic-drop-down
        display: none

      ul
        width: 335px

        li
          white-space: normal

          span
            display: inline-block
            float: left

            img
              margin: 0px

            &.screen-shot
              display: block

            &.video-name
              width: 173px
              height: 74px
              margin: 10px 0px
              padding: 0px 12px
              +adjust-font-size-to(16px)
              word-break: normal
              overflow: hidden

          &.init
            display: none

          &:not(.init)
            width: 335px
            height: 96px
            padding: 0px
            border-bottom: 1px solid lighten($background-color-gray-dark, 10%)
            line-height: 96px
            display: block
            background: $background-color-gray-dark

            &:hover, &.selected:not(.init)
              background: lighten($background-color-gray-dark, 10%)

    .video
      position: absolute
      top: 48px
      left: 50%
      width: 640px
      height: 475px
      margin: 0px 0px 0px-150px
      background-color: #000

  +at-breakpoint($wide-desktop)
    padding-right: 64px

    .frame
      float: left
      width: 110px
      height: 475px
      padding: 0px
      border: none
      border-right: 3px solid $color-blue-pts

      &:after
        display: none

      ul.slidee
        height: 100%
        list-style: none

        li
          float: left
          margin: 0px 5px 0px 0px
          padding: 0px
          width: 100%
          border-bottom: 1px solid lighten($background-color-gray-dark, 10%)
          text-align: center
          background: $background-color-gray-dark

          a
            padding: 0px 12px
            height: 60px
            +adjust-font-size-to(16px)
            line-height: 60px

    .video
      position: relative
      top: 0px
      left: 0px
      float: right
      margin: 0px -64px 0 0
