.latest-news
  +pie-clearfix
  padding: 20px 12px 40px 12px

  a
    text-decoration: none

  .news-title
    a
      display: inline-block
      text-indent: -1999999px
      overflow: hidden
      +replace-text-with-svg("latest-title")

    &:after
      margin-bottom: 0px

  .news-list
    height: auto
    margin-top: 0px
    margin-bottom: 0px
    padding: 0px
    list-style-type: none

  li
    width: 100%
    height: auto
    border-bottom: 1px solid $line-color-gray-light
    cursor: pointer

    &:hover
      background-color: lighten($color-blue-pts, 60%)

  .news-item
    display: inline-block
    height: 60px
    +link-colors($text-black)

  .news-item-media
    position: absolute

    img
      height: 36px
      margin: 14px 0px 0px 0px

    &.video:before
      content: ''
      display: inline-block
      position: absolute
      top: 22px
      left: 13px
      +replace-text-with-svg("ic_play")

  .news-item-topic
    width: 75vw
    padding-left: 56px
    line-height: 60px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  +at-breakpoint($phone)
    padding-left: 20px

    .news-item-topic
      width: 100%

  +at-breakpoint($desktop)
    padding: 0px

    .news-list
      +isolate-grid(5, 10)
      margin-bottom: 48px

  +at-breakpoint($wide-desktop)
    .news-list
      +isolate-grid(6, 12)