.latest-news
  +pie-clearfix
  padding: 20px 12px 40px 12px

  .news-title
    a
      display: inline-block
      text-indent: -1999999px
      overflow: hidden
      +replace-text-with-svg("latest-title")

    &:after
      margin-bottom: 0px

  .news-list
    height: auto
    margin-top: 0px
    margin-bottom: 0px
    padding: 0px
    list-style-type: none

  li
    width: 100%
    height: auto
    border-bottom: 1px solid $line-color-gray-light
    cursor: pointer

    &:hover
      background-color: lighten($color-blue-pts, 60%)

  a.news-item
    display: inline-block
    height: 60px
    +link-colors($text-black)

  .news-item-media
    float: left
    position: relative

    img
      margin: 14px 0px 0px 0px

    &.video:before
      content: ''
      display: inline-block
      position: absolute
      top: 22px
      left: 13px
      width: 20px
      height: 20px
      background: url(/images/ic_play.svg) no-repeat center

  .news-item-topic
    float: left
    width: 65vw
    margin-left: 15px
    +adjust-font-size-to(18px)
    line-height: 60px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden

  +at-breakpoint($phone)
    padding-left: 20px

    .news-item-topic
      width: auto

  +at-breakpoint($desktop)
    padding: 0px

    .news-list
      margin-bottom: 48px