.program-news
  padding: 20px 20px 40px 20px

  .program-item
    margin-bottom: 36px

    a.program-logo
      img
        margin: 0px

    .program-time
      +adjust-font-size-to(18px)
      line-height: 36px

    a.program-topic
      display: block
      margin-bottom: 12px
      +adjust-font-size-to(20px)
      +link-colors($color-blue-pts)
      font-weight: bold

      &:hover
        text-decoration: none

    .program-description
      +adjust-font-size-to(18px)

  +at-breakpoint($phone)
    padding-left: 36px

  +at-breakpoint($desktop)
    padding: 0px

    .program-item

      .program-time
        +adjust-font-size-to(14px)
        line-height: 36px

      a.program-topic
        +adjust-font-size-to(16px)

      .program-description
        +adjust-font-size-to(16px)
