.search-news
  +border-box-sizing
  position: absolute
  top: 14px
  right: 12px
  width: 30px
  height: 34px
  padding-left: 20px
  white-space: nowrap
  -webkit-appearance: none
  appearance: none
  border: 1px solid transparent
  +border-radius(2px)
  transform: translate(0,0)
  transition: width .55s ease
  background-color: transparent
  background-image: none
  color: transparent
  z-index: 2

  &:hover
    width: 270px
    padding-left: 12px
    outline: none
    opacity: 1
    border: 1px solid $line-color-gray-light
    background-color: #fff !important
    color: $text-black

  td.gsc-input
    position: relative
    background: transparent

  input.gsc-input
    +border-box-sizing
    +border-radius(0)
    width: 220px
    margin-top: -6px
    padding-left: 0px
    -webkit-appearance: none
    appearance: none
    border: 1px solid #fff
    +border-radius(2px)
    font-size: $base-font-size
    +input-placeholder-color($text-black)
    background-color: transparent !important
    background-image: none !important

  input.gsc-search-button
    position: absolute
    top: 3px
    right: 0px
    margin: 3px 0px 0px 0px
    border: none
    background: transparent
    +replace-text-with-svg("ic-search-blue-large")

    &:focus
      outline: none

  .gsc-clear-button, .gsc-branding
    display: none

  +at-breakpoint($desktop)
    margin-top: 12px

    input.gsc-input
      border: none

    input.gsc-search-button
      z-index: 3

  +at-breakpoint($wide-desktop)
    width: 160px
    opacity: 1

    &:after
      @include ellipsis
      content: "搜尋公視新聞"
      position: absolute
      top: 5px
      left: 12px
      font-size: $base-font-size
      color: $text-gray
      z-index: 0

    &:hover
      &:after
        display: none