.search-result-news
  padding: 0 12px
  +padding-leader(5.5)

  .search-result-news-content
    margin: 10px 0px 40px 0px

  +at-breakpoint($phone)
    padding-left: 20px
    padding-right: 20px

  +at-breakpoint($desktop)
    padding: 0px

    .search-result-news-content
      float: left
      width: 100%
      margin-right: -240px

    .content-inner
      margin-right: 240px