.search-news
  position: absolute
  right: 12px
  margin-top: 8px
  white-space: nowrap
  transform: translate(0,0)

  td.gsc-input
    position: relative
    background: transparent

  input.gsc-input
    +border-box-sizing
    +border-radius(0)
    position: absolute
    top: -4px
    right: 0px
    -webkit-appearance: none
    appearance: none
    width: 30px
    height: 34px
    padding-left: 20px
    border: 1px solid #fff
    +border-radius(2px)
    opacity: 0.05
    transition: width .55s ease
    font-size: $base-font-size
    -webkit-appearance: none
    +input-placeholder-color($text-black)
    background-color: transparent !important
    background-image: none !important
    z-index: 2

    &:hover, &:focus, &:active
      width: 270px
      padding-left: 20px
      outline: none
      opacity: 1
      border: 1px solid $line-color-gray-light
      +input-placeholder-color($text-gray)
      background-color: #fff !important

  input.gsc-search-button
    position: absolute
    right: 0px
    border: none
    margin: 3px 0px 0px 0px
    background: transparent
    +replace-text-with-svg("ic-search-blue-large")

    &:focus
      outline: none

  .gsc-clear-button, .gsc-branding
    display: none

  +at-breakpoint($desktop)
    margin-top: -2px

    input.gsc-input
      border: none

    input.gsc-search-button
      z-index: 3

  +at-breakpoint($wide-desktop)
    td.gsc-input

      &:after
        @include ellipsis
        content: "搜尋公視新聞"
        position: absolute
        top: 2px
        right: 60px
        font-size: $base-font-size
        color: $text-gray
        z-index: 0

    input.gsc-input
      width: 140px
      opacity: 1
      +input-placeholder-color($text-gray)