$menu-width: 260px;

.off-canvas {

  .page {
    height: 100%;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: $menu-width;
    visibility: hidden;
  }
  .container {
    position: relative;
    z-index: 100;
  }

  &.open-menu {
    .page {
      overflow: hidden;
    }
    .menu {
      visibility: visible;
      height: 100%;
      overflow-y: auto;
    }
    .container {
      @include translateX(-$menu-width);
    }
  }


@include at-breakpoint($desktop) {
  &.open-menu {
    .page {
      overflow: visible;
    }
    .menu {
      display: none;
    }
    .container {
      @include translateX(0);
    }
  }
}



}
