// ==== compass ====
// ---- compass setting ----
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// ---- compass import ----
@import "compass";
@import "compass/css3/user-interface"; // Don't know why must add this.




// ==== susy import ====
@import "susy";




// ==== starter core ====
@import "core/normalize";
@import "core/variables";
@import "core/mixins";
@import "core/typography";
@import "core/layout";

// ==== starter partials ====
@import "partials/off-canvas";
@import "partials/menu";
@import "partials/header";
@import "partials/footer";
@import "partials/main-nav";
@import "partials/headline";
@import "partials/feature-block";
@import "partials/grid";
@import "partials/icon-box";
@import "partials/button";
@import "partials/form";
@import "partials/list";
@import "partials/tab";
@import "partials/action-bar";
@import "partials/pagination";

// starter for ng styles
@import "partials/ng-page-change";
