.ad-news
  .google-ad, .facebook
    display: none

  .banner
    float: left
    margin-right: 20px

    img
      height: 60px

  +at-breakpoint($desktop)
    width: 240px
    float: left

    .google-ad
      display: block

    .banner
      margin: 0px

    .facebook
      display: block