.breadcrumb

  &:after
    content: ''
    display: inline-block
    width: 100%
    margin-top: 12px
    border-bottom: 2px solid $color-blue-pts

  span
    display: inline-block

  a
    +link-colors($color-blue-pts)
    text-decoration: none

  .aarow
    width: 14px
    height: 10px
    margin: 0px 10px
    background: url(/img/ic_aarow_right.png) no-repeat center

  +at-breakpoint($desktop)
    &:after
      width: 97%