.social-icons
  margin: 6px 0px 0px 0px
  padding: 0px
  list-style: none

  li
    display: inline-block

  span
    display: inline-block
    width: 44px
    height: 44px
    margin-right: 4px
    margin-bottom: 8px
    text-indent: -1999999px
    overflow: hidden

  a
    display: inline-block

  .facebook
    background: url(/img/ic_fb.svg) no-repeat center

  .twitter
    background: url(/img/ic_twitter.svg) no-repeat center

  .google-plus
    background: url(/img/ic_googleplus.svg) no-repeat center

  .mail
    background: url(/img/ic_mail.svg) no-repeat center

  .pinterest
    background: url(/img/ic_pinterest.svg) no-repeat center

  .linkedin
    background: url(/img/ic_linkedin.svg) no-repeat center

  .line
    // +replace-text-with-dimensions("ic_line.png")
    background: url(/img/ic_line.png) no-repeat center